<form  (ngSubmit)="signInForm.valid && onSubmit()" [formGroup]="signInForm" #myForm="ngForm">

  <div formGroupName="etat">
    <input name="Identifiant" formControlName="Identifiant">
    <input name="Titre" formControlName="Titre">
  </div>
  <div *ngIf="myForm.submitted && signInForm.controls['etat'].errors?.isRequired">
    <span>{{signInForm.controls['etat'].errors.isRequired.expected}}</span>
    </div>
  <br>
    <label for="Type">Choisir le Type:</label>

    <select formControlName="Type">
       
        <option *ngFor="let item of List" [ngValue]="item">{{item}}</option>
    </select>
    <br>

<label for="FicheList">Choisir le type de description :</label>

<select formControlName="Fiche">
   
    <option *ngFor="let item of FicheList" [ngValue]="item">{{item}}</option>
</select>
<br>

<label for="date">Date de sortie</label>
<input type="date" formControlName="AnneeDeSortie">
<div *ngIf="myForm.submitted && signInForm.controls.AnneeDeSortie.errors?.min">
  <span>{{signInForm.controls.AnneeDeSortie.errors.min.expected}}</span>
</div>
<br>
<button type="submit">Submit</button>
</form>
